<p id="notice"><%= notice %></p>

<p>
  <b>Profile Pic:</b>
  <%= image_tag(@user.profile_pic, class: 'list_image') %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Projects submitted:</b>
  <%= @user.side_projects.count %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
