<h4>
  <%= @side_project.project_title %>
</h4>

<%= image_tag(@side_project.image_url, class: 'list_image') %>

<p>
  <b>Description:</b>
  <%= @side_project.description %>
</p>

<div class="smallNavBar">
  <div class="smallNavBarItem"><%= button_to 'GitHub', @side_project.user, {:class => 'buttonTo gitHubBtn'} %> </div>
  <div class="smallNavBarItem"><%= button_to 'Comment', @side_project.user, {:class => 'buttonTo commentBtn'} %> </div>
  <div class="smallNavBarItem"><%= button_to 'Encourage', endorse_path, {:class => 'buttonTo encourageBtn'} %>  </div>
</div>

<p><b>Tags:</b>
  <% @side_project.tags.each do |tag| %>
      <%= tag.name %>
  <% end %>
</p>