<div class="project">

  <% @side_projects.each do |b| %>
      <div class="item">
    <%= image_tag(b.image_url, class: 'list_image') %>
    <%= b.project_title %>
    <%= b.created_at %>
    <%= link_to b.user.name, user_path(b.user) %>
    Comments: <%= b.comments.count %>
    <%= link_to 'Endorse Project', endorse_path %>
    <p><%= truncate(b.description, length: 100) %></p> <br />
      </div>
  <% end %>

</div>