<% @side_project.tags.build %>
<%= form_for(@side_project) do |project_form| %>
  <% if @side_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@side_project.errors.count, "error") %> prohibited this side_project from being saved:</h2>

      <ul>
      <% @side_project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= project_form.label :project_title %><br />
    <%= project_form.text_field :project_title %>
  </div>
  <div class="field">
    <%= project_form.label :description %><br />
    <%= project_form.text_area :description %>
  </div>
  <div class="field">
    <%= project_form.label :image_url %><br />
    <%= project_form.text_field :image_url %>
  </div>
  <div class="field">
    <%= project_form.label :repo_url %><br />
    <%= project_form.text_field :repo_url %>
  </div>
  <h2>Tags</h2>
    <%= render :partial => 'tags/form',
                :locals => {:form => project_form}%>
  <div class="actions">
    <%= project_form.submit %>
  </div>


<% end %>
