<div id="siteContainer">

<h1>Listing side_projects</h1>
  <% @side_projects.each do |side_project| %>
    <div class="project">
      <ul>
        <li><%= image_tag(side_project.image_url, class: 'list_image') %></li>
        <li><%= link_to side_project.project_title, side_project %>     </li>
        <li><%= side_project.repo_url %>     </li>
      </ul>

      <p> <%= truncate(side_project.description, length: 100) %>  </p>

      <ul>
        <li><%= link_to 'Email Owner', side_project.user %>   </li>
        <li><%= link_to 'Edit', edit_side_project_path(side_project) %>  </li>
        <li><%= link_to 'Destroy', side_project, confirm: 'Are you sure?', method: :delete %> </li>
      </ul>
    </div>

<% end %>
<br />

<p><%= will_paginate @side_projects %></p>

</div>