<p id="notice"><%= notice %></p>


<div class="projectDetails">

<h1>
  <b>Project title:</b>
  <%= @side_project.project_title %>
</h1>
  <h2>Tags:
    <% @side_project.tags.each do |tag| %>
        <div class="tagButton"><%= button_to tag.name, tag %></div>
    <% end %>
  </h2>
<div class="imageShow">
  <%= image_tag(@side_project.image_url, class: 'list_image') %>
</div>
<h2>Owner:</h2>
  <%= @side_project.user.name %>

<h2>Description:</h2>

<p><%= @side_project.description %></p>

 <h2>Repo URL:</h2>
  <button><%= @side_project.repo_url %></button>





<h2>Comments</h2>
<!--also, include a way for the viewer to edit comments-->
<% @side_project.comments.each do |comment| %>
    <p>
      <b>Commenter:</b>
      <%= comment.commenter %>
    </p>

    <p>
      <b>Comment:</b>
      <%= comment.body %>
    </p>

    <p>
      <b>Created:</b>
      <%= comment.created_at %>
    </p>



<% end %>
<%= render 'comments/comment' %>


<%= link_to 'Back', side_projects_path %>
<!-- back functionality is broken site-wide -->

</div>