<!DOCTYPE html>
<html>
<head>
  <title>FinishMySideProject2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<header class="link">

  <%= link_to "Home", index_path %>
  <%= link_to "About", about_path %>
  <%= link_to "View Side Projects", side_projects_path %>
  <%= link_to "New Side Project", new_side_project_path %>
  <%= link_to "Create Account", new_user_path %>
  <%= link_to "Login", login_path %>
  <%= link_to "Logout", logout_path %>

</header>

<body>

<%= yield %>

</body>

<footer>

  <%= link_to "Terms of Use", terms_path %>
  <%= link_to "Our Privacy Policy", privacy_path %>
  <%= link_to "Admin", admin_path() %>

</footer>

</html>
